/* Google Fonts import: Poppins & Lora */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Variables for consistent styling */
:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Lora", serif;
    --primary-color: #212121; /* Graphite Black */
    --secondary-color: #22223b; /* Dark Blue */
    --third-color: #f8ffed; /* Off White */
    --fourth-color: #cfd3c6; /* Darker Off White */
    --background-color-primary: #e2ecdf; /* Beige Green */
    --background-color-secondary: #425c52; /* Deep Sage */
    --background-color-tertiary: #d6e4d2; /* Light Beige Green */
    --background-color-quaternary: #a7c49c; /* Slightly Light Beige Green */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    padding-top: 57.52px; /* Adjusted for navbar height */
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.section {
    padding-top: 4rem; /* prevents navbar from overlapping content */
}

/* Navbar */
#navbar {
    background-color: var(--background-color-secondary);
}

#navbar .logo {
    width: 30px;
}

body {
    background-color: var(--background-color-primary);
}

/* Hero section / header */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/wide-landscape.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f8ffed;
    padding-top: 57.52px;
    padding-bottom: 4rem;
}

.hero h1 {
    color: var(--third-color);
}

/* Buttons */
.hero .btn {
    background-color: transparent;
    color: var(--third-color);
}

.hero .btn:hover {
    color: var(--secondary-color);
    background-color: var(--third-color);
}

.custom-button-outline {
    border: 3px solid var(--background-color-secondary);
    color: var(--background-color-secondary);
}

.custom-button-outline:hover {
    background-color: var(--background-color-secondary);
    color: white;
}

/* Symptom Check section */
#symptom-check .card {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}

/* Calming Tools section */
.accordion {
    --bs-accordion-bg: var(--background-color-tertiary);
    --bs-accordion-border-color: var(--bs-border-color-translucent);
    --bs-accordion-active-bg: var(--background-color-quaternary);
    --bs-accordion-active-color: var(--secondary-color);
    --bs-accordion-btn-focus-box-shadow: none;
}

#calming-tools .accordion {
    padding-top: 1rem;
    margin-bottom: 3rem;
}

/* Quiet Wisdom section */
/* Make img small */
.quotes img {
    max-width: 100px;
    max-height: 100px;
}

/* Make img rounded */
.quotes img {
    border-radius: 50px;
}

/* Set consistent height for all carousel slides */
.quotes {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Professional help section */
#professional-help-modal {
    --bs-modal-bg: var(--background-color-tertiary);
    --bs-modal-border-color: var(--bs-border-color-translucent);
}

/* Footer */
#footer {
    background-color: var(--background-color-secondary);
    color: var(--third-color);
}

#footer p {
    margin-bottom: 0;
}

#footer .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.socials i {
    color: var(--third-color);
    font-size: 1.5rem;
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Small devices */
@media screen and (max-width: 768px) {
    #footer p {
        margin-bottom: 1rem;
    }
}

/* Medium devices */
@media screen and (max-width: 992px) {
    #symptom-check .card-img-top,
    #calming-tools .card-img-top {
        max-width: 50%;
    }
}

/* Large devices */
@media screen and (min-width: 992px) {
    #symptom-check .card-img-top,
    #calming-tools .card-img-top {
        max-width: 40%;
    }
}

/* XL devices */
@media screen and (min-width: 1200px) {
    #symptom-check .card-img-top,
    #calming-tools .card-img-top {
        max-width: 50%;
    }
}
